name: Auto Generate wallpapers.json

on:
  push:
    branches: [ "main" ]
    paths:
      - "*.jpg"
      - "*.jpeg"
      - "*.png"
      - ".github/workflows/autogen.yml"

  workflow_dispatch:  # có nút Run manual

permissions:
  contents: write  # BẮT BUỘC để commit vào repo

jobs:
  build-json:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Generate wallpapers.json
        run: |
          echo "[" > wallpapers.json
          FIRST=true
          for IMG in *.jpg *.jpeg *.png; do
            if [ -f "$IMG" ]; then
              TITLE=$(echo "$IMG" | sed 's/-/ /g' | sed 's/.jpg//g' | sed 's/.jpeg//g' | sed 's/.png//g')
              [[ "$FIRST" == true ]] && FIRST=false || echo "," >> wallpapers.json
              echo "  {\"title\":\"$TITLE\",\"url_img\":\"https://raw.githubusercontent.com/paulscholes0258/projectivy-wallpapers/main/$IMG\"}" >> wallpapers.json
            fi
          done
          echo "]" >> wallpapers.json

      - name: Commit JSON
        run: |
          git config user.email "actions@github.com"
          git config user.name "GitHub Actions"
          git add wallpapers.json
          git commit -m "Auto update wallpapers.json" || echo "No changes to commit"
          git push
